{% extends "layout.html" %}

{% block content %}


{% if upload %}

<div class="col-md-12 text-center" style="padding-bottom: 15px">
    <h1> You have uploaded a {{animal}} picture! </h1>
	<img src="{{ file_url }}"></img>
</div>
<div class="col-md-12 text-center" style="padding-bottom: 15px">
	<h3> <a href={{url_for("application")}}>Try it again!</a></h3>
</div>


{% else %}

<div class="container">

	<form method="POST" enctype="multipart/form-data">
		<fieldset class="form-group">
			<legend>Picture Upload (.jpg only!)</legend>>
		    
		    {{ form.hidden_tag() }}
		    
		    <p>
		    	{{ form.photo() }}
		    	{% for error in form.photo.errors %}
		        	<span class="error-message">{{ error }}</span>
		    	{% endfor %}
		    </p>
		    <p>
				{{ form.submit }}
		    </p>

	    </fieldset>
	</form>

</div>

{% endif %}



{% endblock %}